.auth-outer-container {
	padding-top: 180px;
	padding-bottom: 180px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.auth-container {
	background-color: #ffffff00;
	border-radius: 10px;
	position: relative;
	overflow: hidden;
	width: 700px;
	max-width: 100%;
	min-height: 400px;
}

.auth-signUpContainer {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.auth-signUpContainer active {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
}

.auth-signInContainer {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
	left: 0;
	width: 50%;
	z-index: 2;
}

.auth-signInContainer active1 {
	transform: translateX(100%);
}

.auth-container form {
	background-color: rgba(255, 255, 255, 0.04);
	backdrop-filter: blur(5px);
	display: flex;
	padding: 35px;
	flex-direction: column;
	height: 100%;
	color: white;
}

.form-title {
	position: relative;
	top: -10px;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	margin: 0;
	margin-bottom: 20px;
	text-decoration: underline;
	font-style: italic;
}

.auth-container label {
	font-weight: bold;
	font-size: 17px;
	padding-left: 10px;
	font-style: italic;
	letter-spacing: 1px;
}

.auth-container input {
	background-color: rgba(255, 255, 255, 0.04);
	border: none;
	border-radius: 50px;
	padding: 12px 15px;
	width: 100%;
	position: relative;
	top: -5px;
	margin-bottom: 10px;
}

.auth-container input:focus {
	border: 1px solid rgba(255, 255, 255, 0.221);
}

.auth-container button {
	color: #ffffff;
	font-size: 14px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	padding: 8px 45px;
	border-radius: 500px;
	font-weight: 700;
	font-style: italic;
	border: none;
	background-image: linear-gradient(
		to right,
		#00ff48,
		#269660,
		#30dd8a,
		#ff5b3e,
		#ff2612
	);
	background-size: 300% 100%;
	transition: all 0.3s;
}

.auth-container button:hover {
	background-position: 100% 0;
	text-shadow: 0 0 10px white;
}

.auth-overlayContainer {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.auth-overlayContainer active2 {
	transform: translateX(-100%);
}

.auth-overlay {
	background: #ff416c;
	background: -webkit-linear-gradient(to right, #ff0000, #b90455, #590028);
	background: linear-gradient(to right, #ff2612, #b90455, #4800f1);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #ffffff;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
	display: flex;
	align-items: center;
	justify-content: center;
}

.auth-overlay-title {
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	margin: 0;
	margin-bottom: 20px;
	font-style: italic;
}

.auth-overlay active3 {
	transform: translateX(50%);
}

.auth-overlayPanel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.auth-leftOverlayPanel {
	transform: translateX(-20%);
	width: 50%;
	border: green solid 5px;
}

.auth-rightOverlayPanel {
	right: 0;
	transform: translateX(0);
	border: green solid 5px;
	width: 50%;
}

.auth-overlay-paragraph {
	font-size: 17px;
	font-weight: 600;
	line-height: 20px;
	font-style: italic;
	margin: 20px 0 30px;
}

.auth-rightOverlayPanel active5 {
	transform: translateX(0);
}

.auth-leftOverlayPanel active4 {
	transform: translateX(20%);
}

.auth-rightOverlayPanel button,
.auth-leftOverlayPanel button {
	color: #ffffff;
	font-size: 14px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	padding: 8px 45px;
	border-radius: 500px;
	font-weight: 700;
	font-style: italic;
	border: none;
	background-size: 300% 100%;
	transition: all 0.3s;
}

.auth-rightOverlayPanel button:hover,
.auth-leftOverlayPanel button:hover {
	background-position: 100% 0;
	text-shadow: 0 0 10px white;
}
