* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

/* NAVBAR CLASSES */

.nav {
  position: fixed;
  z-index: 20;
  width: 100%;
  transition: background-color 200ms linear;
}

.nav.scrolled {
  background-color: #172755;
  transition: background-color 200ms linear;
}

.nav-contain {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: auto;
  border-bottom: 2px solid #2a407c;
  position: relative;
  z-index: 10;
}

.nav-items {
  display: flex;
  width: 70%;
  justify-content: space-between;
  max-width: 40rem;
}

.nav-logo {
  margin: 1rem 2rem 1rem 0;
  display: flex;
  align-items: center;
  color: white; /* TODO: remove later */
}

.nav-item {
  font-size: 1.5rem;
  color: #8794ba;
  margin: 1.5rem 0;
}

/* LANDING HEADER */

.section-landing-header {
  height: 60vh;
  background-color: #172755;
  /* clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 0% 100%); */
  /* border-bottom: 5px solid #dc2626; */
  position: relative;
  /* z-index: 1; */
  padding-top: 5rem;
}

.header-container {
  position: relative;
  z-index: 10;
  display: flex;
  width: 100%;
  padding: 3rem;
}

.header-title {
  width: 50%;
  padding: 1rem 0;
  position: relative;
  z-index: 10;
  min-width: 300px;
}

.header-title-logo {
  text-align: center;
  margin: 1rem;
}

.header-title-logo img {
  width: 10rem;
}

.header-title-text {
  text-transform: uppercase;
  font-size: 3.5rem;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  font-family: "Poppins", "Roboto", sans-serif;
}

.header-title-text span {
  color: #dc2626;
}

.header-graphics {
  width: 50%;
  position: relative;
  min-width: 300px;
}

.header-image {
  width: 100%;
  position: absolute;
  right: 0;
}

.stripe {
  position: absolute;
  width: 200%;
  height: 20rem;
  z-index: 1;
  background-color: #172755;
  top: 60%;
  transform: translate(-25%) rotate(-6deg);
  border-bottom: 1rem solid #dc2626;
}

.random-svg-1 {
  position: absolute;
  top: 0;
  left: 10%;
  z-index: 5;
}

.random-svg-2 {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 5;
  opacity: 10%;
}

/* CONTENT SECTION */

.section-contents {
  margin-top: 20rem;
}

.content-container {
  margin: auto;
  width: 80%;
  position: relative;
  z-index: 15;
}

.content-pair {
  display: flex;
}

.content-pair-text {
  width: 50%;
  font-size: 1.2rem;
  padding: 2rem;
}

.content-pair-heading {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #172755;
}

.content-pair-word {
  text-transform: uppercase;
}

.content-pair-paragraph {
  color: #8794ba;
}

.content-pair-graphics {
  width: 50%;
  padding: 2rem;
}

.content-pair-graphics img {
  width: 100%;
}

/* CONTACTS SECTION */

.section-contacts {
  position: relative;
  background-color: #172755;
  padding: 3rem;
  margin-top: 10rem;
}

.stripe-alt {
  position: absolute;
  width: 200%;
  height: 20rem;
  z-index: 1;
  background-color: #172755;
  top: -100px;
  transform: translate(-25%) rotate(-6deg);
  border-top: 1rem solid #dc2626;
}

.contacts-container {
  position: relative;
  z-index: 15;
  text-align: center;
}

.contacts-heading {
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
}

.contacts-text {
  width: 50rem;
  margin: auto;
  color: #8794ba;
  font-size: 1.2rem;
}

.contacts-card {
  background-color: white;
  border-radius: 3rem;
  width: 21rem;
  padding: 1rem;
  margin: 2rem;
}

.contacts-card-photo {
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  margin: 1rem auto;
}

.contacts-card-photo img {
  width: 150px;
  height: auto;
}

.contacts-card-name {
  color: #172755;
  font-size: 2rem;
  margin: 1rem;
  font-weight: bold;
}

.contacts-card-button {
  padding: 1rem 5rem;
  border-radius: 100px;
  background-color: #dc2626;
  margin: 1rem auto;
  display: inline-block;
  font-size: 1.1rem;
  color: white;
}

.contacts-cards {
  display: flex;
  width: 80%;
  justify-content: center;
  margin: 3rem auto;
  flex-wrap: wrap;
}
