* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

/* NAVBAR CLASSES */

.nav {
  background-color: #172755;
  /* position: fixed; */
}

.nav-contain {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: auto;
  border-bottom: 2px solid #2a407c;
  position: relative;
  z-index: 10;
}

.nav-items {
  display: flex;
  width: 70%;
  justify-content: space-between;
  max-width: 40rem;
}

.nav-logo {
  margin: 1rem 2rem 1rem 0;
  display: flex;
  align-items: center;
  color: white; /* TODO: remove later */
}

.nav-item {
  font-size: 1.5rem;
  color: #8794ba;
  margin: 1.5rem 0;
}

/* LANDING HEADER */

.section-landing-header {
  height: 60vh;
  background-color: #172755;
  /* clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 0% 100%); */
  /* border-bottom: 5px solid #dc2626; */
  position: relative;
  /* z-index: 1; */
}

.header-container {
  position: relative;
  z-index: 10;
  display: flex;
  width: 100%;
  padding: 3rem;
}

.header-title {
  width: 50%;
  padding: 3rem 0;
  position: relative;
  z-index: 10;
}

.header-title-logo {
  text-align: center;
  margin: 1rem;
}

.header-title-text {
  text-transform: uppercase;
  font-size: 4rem;
  color: #ffffff;
  text-align: center;
}

.header-graphics {
  width: 50%;
  position: relative;
}

.header-image {
  width: 90%;
  position: absolute;
  right: 0;
}

.stripe {
  position: absolute;
  width: 200%;
  height: 20rem;
  z-index: 1;
  background-color: #172755;
  top: 60%;
  transform: translate(-25%) rotate(-6deg);
}

.random-svg-1 {
  position: absolute;
  top: 0;
  left: 10%;
  z-index: 5;
}

.random-svg-2 {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 5;
  opacity: 10%;
}
