.section-landing-header {
  height: 20rem;
  background-color: #172755;
  /* clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 0% 100%); */
  /* border-bottom: 5px solid #dc2626; */
  position: relative;
  /* z-index: 1; */
  padding-top: 2rem;
}

.about-kdag-wrapper {
  border-bottom: 3px solid #172755;
  width: 90%;
  margin: 2rem auto;
  padding-bottom: 2rem;
}

.heading-about-kdag {
  color: #172755;
  margin: 1rem auto;
}

.rule-about-kdag {
  border: 0.2rem solid #dc2626;
  margin-bottom: 1rem;
  background-color: #dc2626;
}

.about-kdag {
  font-size: 1.5rem;
  width: 90%;
  max-width: 70rem;
  font-family: "Poppins", sans-serif;
  color: #6b6f7d;
  margin: auto;
  padding: 2rem;
  display: flex;
  align-items: center;
}

.about-kdag-image {
  width: 100%;
  margin-right: 2rem;
}

.about-kdag-image img {
  width: 100%;
}

.section-contents {
  margin-top: 20rem;
}

.section-contacts {
  position: relative;
  background-color: #172755;
  padding: 3rem;
  margin-top: 10rem;
}

.Hackathon-button {
  display: flex;
  justify-content: center;
  margin: -6rem auto 2rem;
  width: 90%;
  border-bottom: 3px solid #172755;
  position: relative;
  z-index: 10;
  padding: 4rem;
}

.Hackathon-button-button {
  padding:  1rem 3rem;
  background-color: #dc2626;
  font-size: 2rem;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  transition: all .3s ease;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
  font-family: "Poppins", sans-serif;
}

.Hackathon-button-button:hover {
  transform: scale(1.02);
  background-color: #ed3737;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.5);
}


@media screen and (max-width: 1200px) {
  .section-landing-header {
    height: 22rem;
  }
  .Hackathon-button {
    margin-top: -5rem;
    padding-left: 0;
    padding-right: 0;
  }

  .Hackathon-button-button {
    font-size: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media screen and (max-width: 800px) {
  .Hackathon-button-button {
    font-size: 1.3rem;
  }

  .about-kdag-image {
    display: none;
  }

  .about-kdag {
    text-align: center;
  }
}
