.section-landing-header {
  height: 20rem;
  background-color: #172755;
  /* clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 0% 100%); */
  /* border-bottom: 5px solid #dc2626; */
  position: relative;
  /* z-index: 1; */
  padding-top: 2rem;
}

.about-kdag-wrapper {
  border-bottom: 3px solid #172755;
  width: 90%;
  margin: 2rem auto;
  padding-bottom: 2rem;
}

.heading-about-kdag {
  color: #172755;
  margin: 1rem auto;
}

.rule-about-kdag {
  border: 0.2rem solid #dc2626;
  margin-bottom: 1rem;
  background-color: #dc2626;
}

.about-kdag {
  font-size: 1.5rem;
  width: 90%;
  max-width: 70rem;
  font-family: "Poppins", sans-serif;
  color: #6b6f7d;
  margin: auto;
  padding: 2rem;
  display: flex;
  align-items: center;
}

.about-kdag-image {
  width: 100%;
  margin-right: 2rem;
}

.about-kdag-image img {
  width: 100%;
  border-radius: 5%;
  box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.3);
}

.section-contents {
  margin-top: 20rem;
}

.section-contacts {
  position: relative;
  background-color: #172755;
  padding: 3rem;
  margin-top: 10rem;
}

.Hackathon-button {
  display: flex;
  justify-content: center;
  margin: -6rem auto 2rem;
  width: 90%;
  border-bottom: 3px solid #172755;
  position: relative;
  z-index: 10;
  padding: 4rem;
}

.Hackathon-button-button {
  padding:  1rem 3rem;
  background-color: #dc2626;
  font-size: 2rem;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  transition: all .3s ease;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
  font-family: "Poppins", sans-serif;
}

.Hackathon-button-button:hover {
  transform: scale(1.02);
  background-color: #ed3737;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.5);
}


.modal-box{
  top: 100px;
  /* height: 530px; */
  max-width: 760px;
  width:90%;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: linen;
  z-index: 100;
  border-radius: 7px;
  box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.9);
}

.modal-box img{
  width: 100%;
  border-radius: 0;
}

.modal-box label{
  color: #dc2626;
  font-size: 1.2em;
  position: absolute;
  top: 10px;
  right: 20px;
}
.modal-box label:hover{
  cursor: pointer;
}
.modal-background{
  background-color: white;
  opacity: 0.8;
  height: 100%;
  position: fixed;
  top: 0px;
  width: 100%;
}
.modal-content{
  padding: 0 20px;
}
.modal-content p{
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  color: #444;
  margin-top: 0.7rem;
}


.modal-registration{
  margin: 1rem 0;
}
.modal-register-btn{
  font-size: 1.1em;
  color: white;
  width: 90%;
  /* border-radius: 30px; */
  background-color: #dc2626;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 5px;
  margin: auto;
  transition: all .2s;
}

.modal-register-btn:hover {
  background-color: #ed3737;
  
}

a {
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 1200px) {
  .section-landing-header {
    height: 22rem;
  }
  .Hackathon-button {
    margin-top: -5rem;
    padding-left: 0;
    padding-right: 0;
  }

  .Hackathon-button-button {
    font-size: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media screen and (max-width: 800px) {
  .Hackathon-button-button {
    font-size: 1.3rem;
  }

  .about-kdag-image {
    display: none;
  }

  .about-kdag {
    text-align: center;
  }
}
