.blog-list-card {
  /* width: 25%; */
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
  margin: 2rem;
  transition: all .3s ease;
  height: 95%;
}

.blog-list-card:hover {
  transform: scale(1.02);
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.25);
}

.blog-list-card-image {
  width: 100%;
}

.blog-list-card-image img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
}

.blog-list-card-text {
  padding: 1rem;
}

.blog-list-card-topic {
  color: #dc2626;
  font-family: Nunito, sans-serif;
  font-size: 1rem;
  font-weight: 700;
}

.blog-list-card-title {
  color: #0b1329;
  font-family: Poppins, sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0.5rem 0;
}

.blog-list-card-author {
  font-family: Poppins, sans-serif;
  font-size: 0.8rem;
}

.blog-list-card-authorname {
  color: #dc2626;
}

.blog-list-card-date {
  color: #172755;
}

.blog-list-card hr {
  height: 1px;
  border-width: 0;
  color: #aaa;
  background-color: #aaa;
  margin: 0.8rem 0;
}

.blog-list-card-description {
  color: #777;
  font-family: Merriweather, serif;
  font-size: 0.8rem;
}

.blog-list-card-tags {
  margin: 1rem 0;
  font-family: Poppins, sans-serif;
  font-size: 0.8rem;
  color: #dc2626;
}

.blog-list-card-tag {
  display: inline-block;
  margin: 0.2rem 0.2rem;
  background-color: #ccc;
  padding: 0.2rem 1rem;
  border-radius: 10px;
  color: #172755;
}

.blog-list-card-link {
  text-decoration: none;
  display: block;
  width: 25%;
  min-width: 30rem;
}
