/*.events-card {
    display: flex;
    width: 90%;
    margin: 3rem auto;
    box-shadow: 1px 1px 10px 4px #777;
    max-width: 70rem;
    transition: transform .2s ease;
}*/
.events-card {
    display: flex;
    width: 90%;
    margin: 3rem auto;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255,0.1);
    overflow: hidden;
    max-width: 70rem;
    border-top: 1px solid rgba(255, 255, 255,0.1);
    border-left: 1px solid rgba(255, 255, 255,0.1);
    backdrop-filter: blur(5px);
    transition: transform .2s ease;
}

.events-card:hover {
    transform: scale(1.02);
}

.events-card-left {
    width: 40%;
    background-position: top;
    background-size: cover;
    position: relative;
}

/* .events-card-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    max-height: 25rem;
} */

.events-card-right {
    width: 60%;
    text-align: center;
    padding: 1.5rem;
}

.events-card-title {
    font-size: 1.5rem;
    margin: 1rem;
    color: #fff;
}

.events-card-location {
    margin-top: 1rem;
    color: #777;
}

.events-card-date {
    color: #777;
    margin-top: 0.5rem;
}

.events-card a {
    text-decoration: none;
}

.events-card-button {
    width: 60%;
    margin: auto;
    background-color: #4E3EFF;
    color: white;
    /* position: relative; */
    display: flex;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.5);
    min-width: 20rem;
    margin-top: 2.5rem;
}

.events-card-button2 {
    display: inline-block;
    padding: 1rem;
    flex-grow: 1;
}

.events-card-button1 {
    display: inline-block;
    /* position: absolute;
    right: 0;
    top: 0; */
    padding: 1rem;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width:900px) {
    .events-card {
        display: block;
        max-width: 30rem;
    }

    .events-card-left {
        width: 100%;
        height: 20rem;
    }

    .events-card-right {
        width: 100%;
    }
}