.register-container .register-header .spacer {
	aspect-ratio: 1500/700;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.register-container .register-header .layer1 {
	background-image: url("./../../assets/KDSH2025_waves.svg");
}

.register-container .register-header .register-kdsh {
	position: absolute;
	top: 155px;
	left: 38%;
	font-size: 50px;
	font-weight: 900;
	color: rgba(255, 255, 255, 0.755);
	padding: 5px 25px;
	border: solid 5px white;
	text-wrap: nowrap;
}

.register-container .register-header .register-kdsh-desc {
	border: solid rgba(255, 255, 255, 0.178) 2px;
	padding: 25px;
	font-weight: 600;
	text-align: justify;
	position: absolute;
	top: 300px;
	font-size: 20px;
	line-height: 25px;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	background: rgba(255, 255, 255, 0.045);
	border-radius: 15px;
	margin: 0 200px;
}

.register-container .register-header .register-kdsh-desc ul {
	list-style: none;
	text-decoration: none;
	color: aqua;
	transition: all 0.3s;
	width: max-content;
}

.register-container .register-header .register-kdsh-desc ul li:hover {
	text-shadow: cyan 0 0 8px;
}

.register-form {
	border: solid rgba(255, 255, 255, 0.05) 2px;
	border-top: 5px solid #1c1cf0;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	background: rgba(255, 255, 255, 0.045);
	padding: 25px;
	width: 80%;
	position: relative;
	left: 10%;
	margin-bottom: 25px;
}

.register-form input {
	border-radius: 50px;
	margin-right: 15px;
	margin-bottom: 15px;
}

.register-form-gender {
	color: rgba(255, 255, 255, 0.664);
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}
.register-form-gender label {
	margin-left: 8px;
	margin-right: 10px;
}

.register-form-gender select {
	border-radius: 50px;
	padding-right: 15px;
}
.register-form-gender select option {
	color: #333; 
}

.register-form-details {
	color: white;
	font-weight: 600;
	position: relative;
	left: 10px;
	margin-bottom: 5px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	appearance: textfield;
	-moz-appearance: textfield;
}

.register-form-submit {
	background: transparent;
	min-width: 300px;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.register-form-submit p {
	text-align: center;
	background-image: linear-gradient(
		to right,
		#1c1cf0,
		#40dfe4,
		#30dd8a,
		#269660
	);
	padding: 10px;
	background-size: 300% 100%;
	width: 100%;
	color: white;
	box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.5);
	border-radius: 30px;
	border: none;
	transition: 0.3s;
}

.register-form-submit p:hover {
	background-position: 100% 0;
	text-shadow: 0 0 10px white;
}
