.winter-workshop-main-container {
  width: 1146px;
  height: auto;
  left: 435px;
  margin-right: auto;
  position: absolute;
  background-color: white;
}

.winter-workshop-Topicrect {
  width: 23px;
  height: 48px;
  left: 150px;
  background: #407bff;
  transform: rotate(-180deg);
  border-radius: 4px;
}
.winter-workshop-topic {
  position: absolute;
  width: 191px;
  height: 36px;
  left: 46px;
  top: 5px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 36px;

  /* identical to box height */

  color: #000000;
}
.winter-workshop-session-head {
  width: 89px;
  height: 30px;
  left: 51px;
  top: -10px;
  bottom: 50px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: black;
  position: relative;
}
.winter-workshop-session-subhead {
  width: 233px;
  height: 30px;
  left: 150px;
  top: -40px;
  position: relative;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;

  display: flex;
  align-items: center;

  color: #c4c4c4;
}

.winter-workshop-record {
  width: 173px;
  height: 48px;
  left: 718px;
  top: -75px;
  position: relative;
  background: #407bff;
  border-radius: 8px;
  text-align: center;
}
.winter-workshop-record-text {
  width: 93px;
  height: 27px;
  left: 1200px;
  top: 70px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: white;
  line-height: 27px;
}
.winter-workshop-record-img {
  position: relative;
  width: 24px;
  height: 24px;
  top: 10px;
  right: 10px;
}

.winter-workshop-topics {
  float: left;

  background-color: #ffffff;
  width: 767px;
  height: 54px;
  left: 61px;
  top: -60px;
  position: relative;
}
.winter-workshop-topics span {
  display: block;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: black;
  border: 1px solid rgb(255, 253, 253);

  outline: blue;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  width: 767px;
  height: 54px;
  left: 551px;

  background: #ffffff;
  border-radius: 8px;
}
.winter-workshop-topic-links {
  border-radius: 1px solid blue;
}

.winter-workshop-session-head-2 {
  width: 89px;
  height: 30px;
  left: 62px;
  top: 120px;
  bottom: 50px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: black;
  position: relative;
}
.winter-workshop-session-subhead-2 {
  width: 233px;
  height: 30px;
  left: -603px;
  top: 123px;
  position: relative;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;

  display: flex;
  align-items: center;

  color: #c4c4c4;
}

.winter-workshop-record-2 {
  width: 173px;
  height: 48px;
  left: 718px;
  top: 85px;
  position: relative;
  background: #407bff;
  border-radius: 8px;
  text-align: center;
}
.winter-workshop-record-text-2 {
  width: 93px;
  height: 27px;
  left: 1200px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: white;
  line-height: 27px;
}
.winter-workshop-record-img-2 {
  position: relative;
  width: 24px;
  height: 24px;
  top: 10px;
  right: 10px;
}

.winter-workshop-tab-2 {
  float: left;

  background-color: #f1f1f1;
  width: 767px;
  height: 54px;
  left: 61px;
  top: 100px;
  position: relative;
}
.winter-workshop-tab-2 button {
  display: block;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: black;
  border: 1px solid rgb(255, 253, 253);

  outline: blue;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  width: 767px;
  height: 54px;
  left: 551px;

  background: #ffffff;
  border-radius: 8px;
}
.winter-workshop-tablinks {
  border-radius: 1px solid blue;
}