.section-landing-header {
  height: 20rem;
  background-color: #551717;
  position: relative;
  padding-top: 2rem;
}

.about-kdag-wrapper {
  border-bottom: 3px solid #8a3636;
  width: 90%;
  margin: 2rem auto;
  padding-bottom: 2rem;
}

.heading-about-kdag {
  color: #fff;
  margin: 1rem auto;
}

.rule-about-kdag {
  border: 0.2rem solid #dc2626;
  margin-bottom: 1rem;
  background-color: #dc2626;
}

.about-kdag {
  font-size: 1.5rem;
  width: 90%;
  max-width: 70rem;
  font-family: "Poppins", sans-serif;
  color: #6b6f7d;
  margin: auto;
  padding: 2rem;
  display: flex;
  align-items: center;
}

.about-kdag-text{
  padding: 15px;
  border-radius: 15px;
  backdrop-filter: blur(8px);
  background: rgba(255, 255, 255, 0.039);
}

.about-kdag-image {
  width: 100%;
  margin-right: 2rem;
}

.about-kdag-image img {
  width: 100%;
  border-radius: 5%;
  box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.3);
}

.section-contents {
  margin-top: 20rem;
}

.section-contacts {
  position: relative;
  background-color: #172755;
  padding: 3rem;
  margin-top: 10rem;
}

.Hackathon-button {
  display: flex;
  justify-content: center;
  margin: -6rem auto 2rem;
  width: 90%;
  border-bottom: 3px solid #172755;
  position: relative;
  z-index: 10;
  padding: 4rem;
}

.Hackathon-button-button {
  padding:  1rem 3rem;
  background-color: #dc2626;
  font-size: 2rem;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  transition: all .3s ease;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
  font-family: "Poppins", sans-serif;
}

.Hackathon-button-button:hover {
  transform: scale(1.02);
  background-color: #ed3737;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.5);
}


.modal-box{
  top: 100px;
  /* height: 530px; */
  max-width: 760px;
  width:90%;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: rgb(250, 124, 124);
  z-index: 100;
  border-radius: 7px;
  box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.9);
}

.modal-heading{
  color: rgb(70, 70, 70);
  margin-bottom: 50px;
}

#modal-close{
  z-index: 110;
  color: #8e8c8c;
  font-size: 1.2em;
  position: absolute;
  top: 5px;
  right: 10px;
}

#modal-close:hover{
  cursor: pointer;
}
.modal-background{
  background-color: transparent;
  height: 100%;
  position: fixed;
  top: 0px;
  width: 100%;
}
.modal-content{
  padding: 20px;
  color: rgb(40, 40, 40);
  background-color: rgb(229, 220, 220) !important;
}

a {
  text-decoration: none !important; 
  color: inherit !important;
}

@media screen and (max-width: 1200px) {
  .section-landing-header {
    height: 22rem;
  }
  .Hackathon-button {
    margin-top: -5rem;
    padding-left: 0;
    padding-right: 0;
  }

  .Hackathon-button-button {
    font-size: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media screen and (max-width: 800px) {
  .Hackathon-button-button {
    font-size: 1.3rem;
  }

  .about-kdag-image {
    display: none;
  }

  .about-kdag {
    text-align: center;
  }
}

.banner {
  height: 600px;
  margin-bottom: -300px;
  background-color: rgba(0, 0, 0, 0.7);
}

.banner-video {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-control {
  background-color: rgb(219, 219, 219) !important;
}