/* .member-card-wrapper {
	width: 50%;
	max-width: 15rem;
	margin: 1.5rem;
}

.member-card {
	padding: 2rem;
	border-radius: 15px;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	transition: all 0.3s ease;
	width: 90%;
	background: rgba(255, 255, 255, 0.042);
	backdrop-filter: blur(3px);
	transition: all 0.7s;
	font-weight: 500;
	box-shadow: 0 0 2px rgba(255, 255, 255, 0.35);
}

.member-card:hover {
	transform: scale(1.05);
	background: white;
	border-top-right-radius: 150px;
	width: 110%;
} */

.member-card-wrapper {
	width: 100%;
	margin: 1.5rem;
	margin-right: 20px;
}

.member-card {
	padding: 1.5rem;
	border-radius: 5px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	transition: all 0.3s ease;
	width: 90%;
	margin-right: 50px;
	background: rgba(255, 255, 255, 0.042);
	backdrop-filter: blur(3px);
	transition: all 0.7s;
	font-weight: 500;
	box-shadow: 0 0 2px rgba(255, 255, 255, 0.35);
}

.member-card:hover {
	background: white;
	border-top-right-radius: 150px;
	width: 80%;
}

.member-card:hover p {
	color: black;
	border-top-right-radius: 50px;
	font-weight: 800;
}

.member-profile-image {
	position: relative;
	margin: auto;
	width: 9rem;
	height: 9rem;
	overflow: hidden;
	border-radius: 200px;
	margin-bottom: 1rem;
	top: 0;
	left: 0;
	transition: all 0.8s;
}

.member-card:hover .member-profile-image {
	height: 14rem;
	width: 14rem;
	top: 0px;
	left: -45px;
	border-radius: 150px;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	box-shadow: 5px 5px 10px rgb(60, 60, 60);
}

.member-profile-image img {
	width: 100%;
}

.member-name {
	font-size: 1.2rem;
	text-align: center;
	color: #fff;
	height: 65px;
	position: relative;
	bottom: -25px;
	transition: all 0.5s;
}

.member-card:hover .member-name {
	bottom: 0;
}

.member-email {
	color: #777;
	text-align: center;
	margin-bottom: 2rem;
	margin-left: -25px;
	margin-top: 15px;
	white-space: wrap;
}

.member-profile-follow {
	color: #777;
	display: flex;
	justify-content: space-between;
	position: relative;
	bottom: -10px;
	transition: all 0.3s;
	opacity: 0;
}

.member-follow-text {
	padding-left: 15px;
}

.member-card:hover .member-profile-follow {
	opacity: 1;
	transform: scale(1.2);
}

.member-social-icon {
	display: flex;
	padding-right: 15px;
}

.member-social-icon-icon {
	padding-left: 0.8rem;
}

.member-social-icon-icon a {
	text-decoration: none;
	color: inherit;
}

.member-social-icon-icon:hover {
	color: #f53d3d;
}

@media screen and (max-width: 1200px) {
	.member-profile-follow {
		opacity: 1;
	}
	.member-card:hover {
		border-top-right-radius: 120px;
	}
	.member-card:hover .member-profile-image {
		top: 0px;
		left: -35px;
	}
}

@media screen and (max-width: 1000px) {
	.member-card-wrapper {
		width: 50%;
		max-width: 15rem;
		margin: 1.5rem;
	}
	.member-card {
		padding: 2rem;
		border-radius: 10px;
		border-top-right-radius: 10px;
		border-top-left-radius: 10px;
		transition: all 0.3s ease;
		width: 90%;
		background: rgba(255, 255, 255, 0.042);
		backdrop-filter: blur(3px);
		transition: all 0.7s;
		font-weight: 500;
		box-shadow: 0 0 2px rgba(255, 255, 255, 0.35);
	}
	.member-card:hover {
		transform: scale(1.05);
		background: white;
		border-top-right-radius: 150px;
		width: 110%;
	}
}

@media screen and (max-width: 800px) {
	.member-profile-follow {
		opacity: 1;
	}
}

