.edit_profile_container {
	padding-top: 100px;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.edit_profile_heading {
	height: 95%;
	width: 15%;
	background: linear-gradient(to right, #001e2b, #00ed64);
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	color: aliceblue;
	padding: 25px;
	font-size: 30px;
	font-weight: 900;
}

.edit_profile_container form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 35%;
	padding: 25px;
	height: 95%;
	background: linear-gradient(to right, #00ed631d, #001e2b45);
	backdrop-filter: blur(10px);
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	border-top-right-radius: 200px;
}

.edit_profile_container form label {
	color: #00ed64;
	font-size: 15px;
	margin: 0;
	margin-left: 10px;
	margin-top: 5px;
	font-weight: 900;
}

.edit_profile_container form input {
	color: aliceblue;
	font-size: 15px;
	border: none;
	margin: 0;
}

.edit_profile_container form input:focus {
	box-shadow: 0 0 0 white;
	border-bottom: 1px solid #00ed64;
}

.edit_profile_container form input[type="password"] {
	margin-left: 38px;
}
.edit_profile_container form input[type="password"] {
	margin-left: 40px;
}

.edit_profile_container form button {
	background: transparent;
	border: none;
}
.edit_profile_container form button img {
	height: 25px;
	margin-left: 15px;
}

.edit_profile_container .edit_profile_password label {
	margin-left: 50px;
	margin-bottom: 5px;
	font-weight: 900;
}

.edit_profile_container .edit_profile_password input {
	margin-bottom: 10px;
	border: none;
}

.edit_profile_container .edit_profile_password button {
	position: relative;
	top: 0;
	right: 40px;
}

.edit_profile_container input[type="submit"] {
	padding: 10px 20px;
	border-radius: 60px;
	font-weight: 600;
	font-style: italic;
	border: none;
	background-image: linear-gradient(
		to right,
		#269660,
		#30dd8a,
		#ffdaaa,
		#ff8800
	);
	background-size: 300% 100%;
	transition: all 0.3s;
}

.edit_profile_container input[type="submit"]:hover {
	background-position: 100% 0;
	text-shadow: 0 0 10px white;
}
